# API Configuration
VITE_API_URL=http://localhost:3000

# Server Configuration
PORT=3000

# Site Configuration
VITE_SITE_NAME=Bead Wonder
VITE_CONTACT_EMAIL=your-email@example.com
VITE_CONTACT_PHONE=+7 (999) 123-45-67
VITE_INSTAGRAM=#
VITE_TELEGRAM=#
VITE_VK=#
